@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans";
}
.form-style {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.25rem;
  
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.input-style {
  color: black;
  background-color: #cbd5e1; 
  padding: 0.25rem; 
  border-radius: 0.375rem; 
}

